.button-category {
    width: 10%;
    background-color: #A9A9A9;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}
.button-category:hover {
    background-color: #808080;
}
.button-details {
    width: 100%;
    background-color: #ADFF2F;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: small;
    border-top: 1px solid #000000;
}
.button-details:hover {
    background-color: #9ACD32;
}
.button-add-to-cart {
    width: 100%;
    background-color: #FFA500;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: small;
    border-top: 1px solid #000000;
}
.button-add-to-cart:hover {
    background-color: #FF0000;
}
.button-edit {
    width: 100%;
    font-size: 150%;
    color: #FFFFFF;
    background-color: #6495ED;
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-edit:hover {
    background-color: #0000FF;
}
.button-save {
    width: 100%;
    font-size: 150%;
    color: #FFFFFF;
    background-color: #4CAF50;
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-save:hover {
    background-color: #45A049;
}
.button-cancel {
    width: 100%;
    font-size: 150%;
    color: #FFFFFF;
    background-color: #FF0000;
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-cancel:hover {
    background-color: #8B0000;
}