.logo h1 {
    width: 30%;
    margin-top: 0;
    font-size: 250%;
    margin-left: 50px;
}
.menu-table {
    position: absolute;
    width: 70%;
    height: 100%;
    table-layout: fixed;
    left: 25%;
    top: 0;
}
.menu-table td {
    padding: 0 5px;
}
.menu-table td a {
    color: #000000;
    text-decoration: none;
}
.menu-table td a:hover {
    color: #FF0000;
}